html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
background-image: url(http://www.ptaengineering.com/sites/default/files/assets/projects/altria.jpg);
background-size: cover;
z-index: -2;
}

.op {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
    position: absolute;
}
.keys {
    margin: auto;
    width: 95%;
    height: 40%;
    margin-top: 20%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    color: white;
}

.key {
    text-align: center;
    margin: auto;
    margin-left: 0.3%;
    width: 8%;
    height: 50px;
    border: 4px solid white;
    border-radius: 6px;
}

.up {
    text-align: center;
    width: 100%;
    height: 50%;
    display: block;
    margin: auto;
    margin-top: 3px;
    font-family: cursive;
}

.down {
    text-align: center;
    width: 100%;
    height: 50%;
    display: block;
    margin: auto;
    color: orangered;
    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.light {
    border-color: yellow;
    transform: scale(1.5,1.5);
}

